<%= render partial: 'sidebar' %>

<div class="span8">
	<div class="row-fluid jokes-container">
		<h3><%= @joke.title %></h3>
		<p><%= @joke.content %></p>
		<% if @joke.image_url %>
			<img class='joke-image' src="<%= image_path(@joke.image_url) %>" />
		<% end %>
		<dl class="dl-horizontal">
			<dt>Upvotes:</dt>
			<dd><%= @joke.likes.size %></dd>
			<dt>Downvotes:</dt>
			<dd><%= @joke.dislikes.size %></dd>
		</dl>

		<% if current_user && @joke.user.id && current_user.id == @joke.user.id %>
		<div class="btn-group">
			  <%= link_to "Edit", edit_joke_path(@joke), :class=>'btn btn-info' %>
			  <%= link_to "Delete", @joke, method: :delete, data: {confirm: 'Are you sure?'}, :class=>'btn btn-danger' %>
		</div>
		<% end %>

		<% if current_user %>
		<div class="btn-group">
		<%= link_to 'Upvote', 
			{:controller =>"jokes", :action => "upvote", :id => @joke.id}, :class => 'btn btn-success', method: :put %>
		<%= link_to 'Downvote', 
			{:controller =>"jokes", :action => "downvote", :id => @joke.id}, :class => 'btn btn-warning', method: :put %>
		</div>
		<% end %>
	</div>
</div>