<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Ultimate Jokes", root_path, id: "logo", class: "brand" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Jokes", jokes_path %>
					</li>
					<li>
						<% if current_user %>
							<%= link_to current_user.email, edit_user_path(current_user.id) %>
					</li>
					<li>
							<%= link_to "Logout", logout_path %>
					</li>
						<% else %>
							<%= link_to "Sign in!", login_path %>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>